@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f8f4f4;
  --secondary-color: #eaf2fd;
  --tertiary-color: #ffffff;
  --color-text: #464646;
  --font-family: "Raleway", sans-serif;
  --font-size-primary: 16px;
  --font-size-title: 52px;
  --font-size-title-section: 32px;
  --font-weight-primary: 500;
  --font-weight-secundary: 700;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
}

body {
  background-color: var(--primary-color);
}

/*Header*/
.header_container {
  /* background-color: red; */
  margin: 0 152px;
  padding: 35px 0;
  height: 88px;
}

.header_text_bold {
  font-weight: var(--font-weight-secundary);
  font-size: var(--font-size-primary);
}

.header_nav {
  list-style: none;
}

.header_nav_menu {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-primary);
}

.title_section {
  font-weight: var(--font-weight-secundary);
  font-size: var(--font-size-title-section);
}

/*Main*/
.container {
  width: 100%;
}

/*Principal Section*/
.principal_section_container {
  margin: 0 152px;
}

.principal_title {
  font-weight: var(--font-weight-secundary);
  font-size: var(--font-size-title);
}

.social_networks_list {
  list-style: none;
}

.social_networks_list li a {
  font-weight: var(--font-weight-secundary);
}

/*About Me Section*/
.aboutme_section_container {
  width: 100%;
  background-color: var(--secondary-color);
}

.aboutme_article {
  margin: 0 152px;
}

/*Skills Section*/
.skills_section_container {
  width: 100%;
}

.skills_article {
  margin: 0 152px;
}

.skills_list {
  list-style: none;
}

.skills_item {
  background-color: var(--tertiary-color);
  width: 174px;
  height: 176px;
}

.skills_item img {
  width: 10%;
  margin-left: 16px;
}

.skills_item p {
  font-weight: var(--font-weight-secundary);
  margin: 0 0 16px 16px;
}

/*Hobbies Section*/
.hobbies_section_container {
  width: 100%;
}

.hobbies_article {
  margin: 0 152px;
}

.hobbies_list {
  list-style: none;
}

.hobbies_item {
  background-color: var(--tertiary-color);
  width: 174px;
  height: 176px;
}

.hobbies_item img {
  width: 10%;
  margin-left: 16px;
}

.hobbies_item p {
  font-weight: var(--font-weight-secundary);
  margin: 0 0 16px 16px;
}

/*Academy Trainig*/
.academy_training_section_container {
  background-color: var(--secondary-color);
  width: 100%;
}

.academy_training_article {
  margin: 0 152px;
}

.academy_training_list {
  list-style: none;
}

.academy_training_img {
  background-color: var(--tertiary-color);
  width: 368px;
  height: 286px;
}

.academy_training_img img {
  width: 50%;
  height: 50%;
  margin: 78px 89px;
}